@model RequestIt.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gebruikers Details</h4>
    <hr />
    <dl class="dl-horizontal text-left">
        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
