@model IEnumerable<RequestIt.ViewModels.UsersAanvraagStatusViewModel>
@{
    ViewData["Title"] = "IndexGebruikerAanvragen";
}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
    }
</script>



<h2>Aanvragen van de Klanten</h2>
 
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
          
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            
        </td>
        
            @foreach (var aanvraag in item.Aanvragen)
            {
                
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Aanvraag.Titel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aanvraag.Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aanvraag.Status.Naam)
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => aanvraag.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => aanvraag.Omschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => aanvraag.Status.Naam)
                </td>
                <td class="text-left">
                    <a class="btn btn-sm btn-success glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@aanvraag.Id"></a>
                    <a class="btn btn-sm btn-info glyphicon glyphicon-search" asp-action="Details" asp-route-id="@aanvraag.Id"></a>
                    <a class="btn btn-sm btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@aanvraag.Id"></a>
                </td>
            </tr>
            </tbody>
        </table>
                
                    }
         

    </tr>
    

                }
</tbody>
  </table>




