@model RequestIt.ViewModels.AanvraagAndCustomersStatusViewModel
@{
    ViewData["Title"] = "IndexGebruikerAanvragen";
}

<h2>Aanvragen van de Klanten</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.UserName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Aanvragen)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Achternaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.UserName)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Aanvragen.Count())
                </td>
                <td>
                    <a asp-route-id="@item.Users.Id" asp-route="Indext" asp-controller="Aanvraags" class="btn btn-sm">Aanvragen</a>
                </td>                  
                                       
            </tr>
        }
    </tbody>
</table>




