@model IEnumerable<RequestIt.ViewModels.UserRoleViewModel>
@using RequestIt.Utility
@{
       ViewData["Title"] = "Index";
}

<h2>Gebruiker Management</h2>

<form asp-controller="ApplicationUsers" asp-action="Index" method="get">
    <p>
        <hr />
        <a asp-action="Register" asp-controller="Account" class="btn btn-sm btn-primary">Maak Niewe gebruiker aan</a>
        
        <p> hier misschien search implementeren</p>
        <hr />
    </p>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>                      
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voornaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Achternaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>         
                     <td align="right">
                        <a class="btn btn-sm btn-success glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.UserId"></a> 
                        <a class="btn btn-sm btn-info glyphicon glyphicon-search" asp-action="Details" asp-route-id="@item.UserId"></a> 
                        <a class="btn btn-sm btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.UserId"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>