@model RequestIt.ViewModels.AanvraagAndCustomerViewModel


@{
    ViewData["Title"] = "Index";
}

<h2>Overzicht van alle aanvragen</h2>

<hr />

<div class="row">
    <div class="col-sm-6" style="padding-bottom:80px;">
        <a class="btn btn-primary" asp-action="Create"asp-route-userId="@Model.UserObj.Id">Nieuwe Aanvraag</a>
    </div>    
</div>

@if (Model.Aanvragen.Count() == 0)
{
    <div class="text-primary"> Geen Aanvragen gevonden, voeg een aanvraag toe</div>
}
else
{
    <table class="table-bordered table-striped" width="100%">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Aanvragen.FirstOrDefault().Titel)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Aanvragen.FirstOrDefault().Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Aanvragen.FirstOrDefault().StartDatum)
            </th>
            <th>
                Status
            </th>       
            <td class="text-left" style="font-weight:bold">
                Controls
            </td>
        </tr>
        @foreach(var item in Model.Aanvragen)
        {
        <tr>
            
            <td>
                @Html.DisplayFor(m => item.Titel)
            </td>
            
            <td>
                @Html.DisplayFor(m => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(m => item.StartDatum)
            </td>   
            <td>
                @Html.DisplayFor(m => item.Status.Naam)
            </td>
                <td class="text-left">
                    <a class="btn btn-sm btn-primary glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.Id"></a>
                    <a class="btn btn-sm btn-info glyphicon glyphicon-search" asp-action="Details" asp-route-id="@item.Id"></a>
                    <a class="btn btn-sm btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.Id"></a>
                </td>
            
        </tr>

        }
    </table>
}